.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: auto;

  position: relative;
  display: inline-block;
}
.input {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  width: 250px;
  border-color: rgb(220, 135, 149);
}
.input:focus {
  outline: none;
}
.input.invalid {
  background-color: rgb(255, 202, 202);
  color: red;
  border-color: red;
}
.instructions {
  position: absolute;
  left: 0;
  padding-left: 25px;
  bottom: -25px;
  font-size: 15px;
  color: red;
}
.hidden {
  display: none;
}
.submit-button {
  font-size: 15px;

  padding: 16px 25px;
  border-radius: 30px;
  border-width: 1px;
  border-style: initial;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, lightpink, rgb(248, 132, 132));
  box-shadow: 0 5px 10px 3px rgb(196, 196, 196);
}
.submit-button:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 182, 193, 0.9),
    rgb(248, 132, 132, 0.9)
  );
}
.submit-button:active {
  background-color: #282c34;
}
